body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--cor-neutra-2);
    color: var(--cor-neutra-4);
    line-height: 1.6;
}

h1,h2,h3 { margin: 0 0 var(--space-16) 0; }
p { margin: 0 0 var(--space-16) 0; }
img { max-width: 100%; display: block; }
